.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    gap: 5px; 
    position: relative;
}

.tile {
    position: relative;
    border: 1px dotted #000000;
    z-index: 1;
    transition: none !important;

}

.bush {
    z-index: 999 !important;
    background-image: url('../img/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: none !important;
}

/* .player {
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
} */

.tile.player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/player.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    z-index: 2 !important;


    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.tile.player[data-occupied="true"] {
    z-index: 2 !important;
}

#game-controls button:active {
    transform: scale(0.95) !important;
    background: #f0f0f0;
}

#game-controls button:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}



#messages {
    position: absolute;
    width: 50%;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;

    div {
        padding: 15px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
}